.container{
  width: calc(100% - 40px);
  max-width: 400px;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(50% - 200px);
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 30px;
  border: 2px solid #fff;
}
.formlogin .title {
  padding: 14px 20px;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  display: block;
  color: #fff;
  letter-spacing: 0.02em;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d60404+0,8c0000+100 */
  background: linear-gradient(to right,  rgba(214,4,4,1) 0%,rgba(140,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.formlogin .checkbox {
  padding: 20px 20px 0px 20px;
}
.formlogin .checkbox > span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 6px;
}
.formlogin .checkbox input {
  background-color: #ddd;
  border: 0;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border-radius: 8px;
}

.formlogin .btlogin {
  padding:10px 20px 0 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

.formlogin .btlogin .noaccount {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  width: 220px;
  margin-bottom: 30px;
}
.formlogin .btlogin .btentrar{
  width: calc(100% - 180px);
}
.formlogin .btlogin .btentrar button {
  font-size: 16px;
  width: 100%;
  padding: 14px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-radius: 25px;
  border: 0;
  margin-bottom: 10px;
  cursor:pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
.formlogin .btlogin .btentrar button[disabled]:before{
  background: #999;
}
.formlogin .btlogin .btentrar button:hover:before {
  rotate:180deg;
  transition: all 0.5s;
}
.formlogin .btlogin .btentrar button:before {
  transition: all 0.5s;
  content:"";
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45ad0d+0,1f6608+100 */
background: linear-gradient(to right,  rgba(69,173,13,1) 0%,rgba(31,102,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.formlogin .btlogin .btentrar button span {
  position: relative;
}
@media screen and (min-width:980px){
  .formlogin .btlogin {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .formlogin .btlogin .noaccount{
    margin-bottom: 0;
  }
  .formlogin .btlogin .btentrar{
    width: calc(100% - 220px);
  }
}

